body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-image: url("photos/cherryblossoms.gif");
    margin: 0; 
    flex-direction: column; 
    background-color: rgb(210, 237, 246)
}

h1 {
    
    margin: 40px 5px 5px 5px; 
    padding: 20px;
    
}

.jacquarda-bastarda-9-regular {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
}

p { 
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    margin: 0;
    border: 50px;
    padding: 15px;
}

.message {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.5); 
    padding: 5px;
    margin: 50px;
    border: 5px;
    border-radius: 20px;
}


.bg-text {
    color: rgb(57, 57, 57);
}